<footer class="page-footer u-position-relative u-bgcolor-blue">
    <div class="container">
        <div class="row footer-content">
            <p class="logo-box u-position-absolute">
                <a href="https://github.com/Chaelor" target="_blank">
                    <img src="./img/github.svg" alt="github logo" class="logo">
                </a>
                <a href="https://www.facebook.com/joshua.joseph.77" target="_blank">
                    <img src="./img/facebook.svg" alt="facebook logo" class="logo">
                </a>
                <a href="https://twitter.com/chaelor" target="_blank">
                    <img src="./img/twitter.svg" alt="twitter logo" class="logo">
                </a>
                <a href="https://www.linkedin.com/in/joshua-joseph-380968163/" target="_blank">
                    <img src="./img/linkedin.svg" alt="linkedin logo" class="logo">
                </a>
                <a href="https://codepen.io/chaelor/#" target="_blank">
                    <img src="./img/codepen.svg" alt="codepenlogo" class="logo">
                </a>
            </p>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container u-center-text">
            © 2018 Copyright Text
        </div>
    </div>
</footer>