<header>
    <nav class="u-bgcolor-blue">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">JJO</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger" id="side-nav">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/" class="u-text-size">Home</a>
                </li>
                <li>
                    <a href="/guestbook" class="u-text-size">Guest Book</a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li class="hide-li">
            <a href="/">Home</a>
        </li>
        <li class="hide-li">
            <a href="/guestbook">Guest Book</a>
        </li>
    </ul>

    <section class="jumbotron push">
        <img src="" alt="Profile picture" class="profile-picture" id="jumbo-photo">
        <div class="jumbo-content">
            <p class="u-center-text" id="header-text-main">Hello, I'm
                <span class="u-color-green">Joshua Joseph</span>,</p>
            <p class="u-center-text" id="header-text-sub">a full-stack web developer.</p>
        </div>
    </section>
</header>