{{> nav}}
<main>

    <section id="about" class="container push section-bg-color" data-aos="zoom-in-down">
        <div class="about u-center-text section-title">//About</div>
        <div class="section-content about-content">
            <p class="about-content-highlight-main">Detail oriented developer with a passion for problem solving
                and
                intuitive design.</p>
            <p class="about-content-p">
                <span class="about-content-highlight-sub">I'm</span> a Chicago-based junior level web-developer,
                currently
                enrolled in a full-stack web development bootcamp through Northwestern University.</p>
            <p class="about-content-p">
                <span class="about-content-highlight-sub">What</span> do I want to focus on when out? Front-End,
                User
                Interface/Experience
            </p>
            <p class="about-content-p">
                <span class="about-content-highlight-sub">In</span> my spare time I like to play at video-game
                tournaments,
                help at animal shelters, and assist in the kitchen.</p>
        </div>
    </section>

    <section id="portfolio" class="container push section-bg-color" data-aos="zoom-in-down">
        <div class="skills u-center-text section-title">//Portfolio</div>
        <div class="section-content portfolio-content">
            <div class="portfolio-content-row">
                <div class="portfolio-content-single">
                    <div class="portfolio-content-image rotate-description">
                        <div id="front-size" class="front-rotation rotation-side">
                            <img src="./img/question_mark.jpeg" alt="Trivia Game" class="portfolio-image" />
                            <h3 class="portfolio-h3">Random Trivia</h3>
                        </div>
                        <a href="https://chaelor.github.io/TriviaGame/" target="_blank" class="a-portfolio-link">
                            <div id="back-size" class="back-rotation rotation-side">
                                <div class="back-header">Random Trivia</div>
                                <div class="back-content">In this project, I demonstrate JavaScript timing
                                    functions.</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="portfolio-content-single">
                    <div class="portfolio-content-image rotate-description">
                        <div id="front-size" class="front-rotation rotation-side">
                            <img src="./img/city-now.PNG" alt="City Now" class="portfolio-image" />
                            <h3 class="portfolio-h3">City Now</h3>
                        </div>
                        <a href="https://chaelor.github.io/City-Nao/" target="_blank" class="a-portfolio-link">
                            <div id="back-size" class="back-rotation rotation-side">
                                <div class="back-header">City Now</div>
                                <div class="back-content">First group collab. Basic API calls and form submission.</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="portfolio-content-single">
                    <div class="portfolio-content-image rotate-description">
                        <div id="front-size" class="front-rotation rotation-side">
                            <img src="./img/trainscheduler.jpeg" alt="Train Scheduler" class="portfolio-image" />
                            <h3 class="portfolio-h3">Train Scheduler</h3>
                        </div>
                        <a href="https://chaelor.github.io/train-scheduling/" target="_blank" class="a-portfolio-link">
                            <div id="back-size" class="back-rotation rotation-side">
                                <div class="back-header">Train Scheduler</div>
                                <div class="back-content">First time using a back end database. Firebase, in this
                                    case.</div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="portfolio-content-row">
                <div class="portfolio-content-single">
                    <div class="portfolio-content-image rotate-description">
                        <div id="front-size" class="front-rotation rotation-side">
                            <img src="./img/ow.jpg" alt="Word Guess" class="portfolio-image" />
                            <h3 class="portfolio-h3">Word Guess</h3>
                        </div>
                        <a href="https://chaelor.github.io/WordGuess/" target="_blank" class="a-portfolio-link">
                            <div id="back-size" class="back-rotation rotation-side">
                                <div class="back-header">Word Guess</div>
                                <div class="back-content">My first project. Type a letter to guess a letter.</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="portfolio-content-single">
                    <div class="portfolio-content-image rotate-description">
                        <div id="front-size" class="front-rotation rotation-side">
                            <img src="./img/giphy.jpg" alt="Giphy PlayGround" class="portfolio-image" />
                            <h3 class="portfolio-h3">Giphy PlayGround</h3>
                        </div>
                        <a href="https://chaelor.github.io/giphyplayground/" target="_blank" class="a-portfolio-link">
                            <div id="back-size" class="back-rotation rotation-side">
                                <div class="back-header">Giphy PlayGround</div>
                                <div class="back-content">First time ever using APIs. Also uses local storage</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="portfolio-content-single">
                    <div class="portfolio-content-image rotate-description">
                        <div id="front-size" class="front-rotation rotation-side">
                            <img src="./img/winstongame.jpg" alt="Overwatch Attack" class="portfolio-image" />
                            <h3 class="portfolio-h3">Overwatch Attack</h3>
                        </div>
                        <a href="https://chaelor.github.io/attack-rpg/" target="_blank" class="a-portfolio-link">
                            <div id="back-size" class="back-rotation rotation-side">
                                <div class="back-header">Overwatch Attack</div>
                                <div class="back-content">A simple battle game.</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-content-row">
                <div class="portfolio-content-single">
                    <div class="portfolio-content-image rotate-description">
                        <div id="front-size" class="front-rotation rotation-side">
                            <img src="./img/node.png" alt="Word Guess" class="portfolio-image" />
                            <h3 class="portfolio-h3">Liri node.js</h3>
                        </div>
                        <a href="https://chaelor.github.io/liri-node-app/" target="_blank" class="a-portfolio-link">
                            <div id="back-size" class="back-rotation rotation-side">
                                <div class="back-header">Node.js</div>
                                <div class="back-content">My first project in node. Give simple commands get back
                                    data.</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="portfolio-content-single">
                    <div class="portfolio-content-image rotate-description">
                        <!--<a href="#" target="_blank" class="a-portfolio-link">-->
                        <div id="front-size" class="front-rotation rotation-side">
                            <img src="./img/mysql.jpg" alt="Giphy PlayGround" class="portfolio-image" />
                            <h3 class="portfolio-h3">Node/MySQL</h3>
                        </div>
                        <a href="https://github.com/Chaelor/bamazon" target="_blank" class="a-portfolio-link">
                            <div id="back-size" class="back-rotation rotation-side">
                                <div class="back-header">Node/MySQL</div>
                                <div class="back-content">Program uses Node and MySQL. For data, run the MySQL
                                    file.</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="portfolio-content-single">
                    <div class="portfolio-content-image rotate-description">
                        <!--<a href="#" target="_blank" class="a-portfolio-link">-->
                        <div id="front-size" class="front-rotation rotation-side">
                            <img src="./img/squad.png" alt="Giphy PlayGround" class="portfolio-image" />
                            <h3 class="portfolio-h3">AceSquadron</h3>
                        </div>
                        <a href="https://l337-squad-fighter.herokuapp.com/" target="_blank" class="a-portfolio-link">
                            <div id="back-size" class="back-rotation rotation-side">
                                <div class="back-header">AceSquadron</div>
                                <div class="back-content">2nd Group Project. I worked on front and backend. Super light
                                    fight sim.</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="skills" class="container push section-bg-color" data-aos="zoom-in-down">
        <div class="skills u-center-text section-title">//Skills</div>
        <div class="section-content">
            <div class="row skills-content">
                <h3 class="skills-content-header">HTML</h3>
                <div class="row skills-content-area">
                    <div class="skills-content-single">
                        <img src="./img/html.png" alt="HTML Logo" class="skills-content-img">
                        <span class="skills-content-description small-icon">HTML</span>
                    </div>
                </div>
            </div>
            <div class="row skills-content">
                <h3 class="skills-content-header">CSS</h3>
                <div class="row skills-content-area">
                    <div class="skills-content-single">
                        <img src="./img/css.png" alt="CSS Logo" class="skills-content-img">
                        <span class="skills-content-description tiny-icon">CSS</span>
                    </div>
                    <div class="skills-content-single">
                        <img src="./img/sass.png" alt="Sass Logo" class="skills-content-img">
                        <span class="skills-content-description small-icon">SASS</span>
                    </div>
                    <div class="skills-content-single">
                        <img src="./img/materialize.png" alt="Materialize Logo" class="skills-content-img">
                        <span class="skills-content-description large-icon">Materialize</span>
                    </div>
                    <div class="skills-content-single">
                        <img src="./img/bootstrap.png" alt="Bootstrap Logo" class="skills-content-img ">
                        <span class="skills-content-description large-icon">Bootstrap</span>
                    </div>
                </div>
            </div>
            <div class="row skills-content">
                <h3 class="skills-content-header">JavaScript</h3>
                <div class="row skills-content-area">
                    <div class="skills-content-single">
                        <img src="./img/js.png" alt="JavaScript Logo" class="skills-content-img">
                        <span class="skills-content-description large-icon">JavaScript</span>
                    </div>
                    <div class="skills-content-single">
                        <img src="./img/jquery.png" alt="JQuery Logo" class="skills-content-img">
                        <span class="skills-content-description medium-icon">JQuery</span>
                    </div>
                    <div class="skills-content-single">
                        <img src="./img/node.png" alt="Node Logo" class="skills-content-img">
                        <span class="skills-content-description medium-icon">node.js</span>
                    </div>
                </div>
            </div>
            <div class="row skills-content">
                <h3 class="skills-content-header">Other</h3>
                <div class="row skills-content-area">
                    <div class="skills-content-single">
                        <img src="./img/github.png" alt="github icon" class="skills-content-img">
                        <span class="skills-content-description small-icon">GitHub</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container push section-bg-color" data-aos="zoom-in-down">
        <div class="contact u-center-text section-title">//Contact</div>
        <div class="section-content">
            <div class="row">
                <form class="form">
                    <div class="form-group">
                        <label for="name-input">Name:</label>
                        <input type="text" class="form-input" id="name-input" placeholder="John Doe">
                    </div>
                    <div class="form-group">
                        <label for="email-input">Email:</label>
                        <input type="email" class="form-input" id="email-input" placeholder="placeholder.email@email.com">
                    </div>
                    <div class="form-group">
                        <label for="message-input">Your message:</label>
                        <input type="text" class="form-input" id="message-input" placeholder="Your message here">
                    </div>
                    <button class="btn waves-effect submit" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </section>
</main>

{{> footer}}